.hidden {
	display: none;
}
.friends-list{
	display:inline-block;
}
.search-area{
	display:inline-block;
	float : right;
	float:top;
}
.userPill{
	border-style: solid;
	border-width: 1px;
	border-color: #888888;
	height:40px;
	margin:2px;
	border-radius: 10px;
	box-shadow: 5px 5px 2px #888888;
}
.avatar-thumb{

	border-radius: 10px;
	width: 35px;
	height: 35px;
	margin: top:2px;
	float: right;
}
.question-container {
	position: absolute;
	width: 80%;
	text-align:center;
}
.social-login-icon{
	float: right;
}
.question-option {
	width:200px;
	margin-bottom:10px;
}

.modal { 
	overflow-x:hidden;
}
.table { 
	width: auto;
}

.social-login-field {
	margin-top: 1%;
	margin-bottom: 1%;
	width: 100%;
	text-align: center;
}
.sort-friends{
	width: 78px !important
}
.confirm-facebook{
	width: 150px;
	margin-bottom:10px;
	max-height: 100px;
}

thead th, thead td {
	text-align: center;
	vertical-align:middle;
}
tbody th, tbody td {
	text-align: center;
	vertical-align:middle;
}
tfoot th, tfoot td {
	text-align: center;
	vertical-align:middle;
}
.modalActive{
	position: absolute;
	opacity:100;
	z-index: 1000;
	margin: auto;
	padding: 20px;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.7);
	
	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);

	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}
.modalHidden {
	position: absolute;
	opacity:0;
	z-index: 1000;
	display:none;
	margin: auto;
	padding: 20px;
	width: 500px;
	height: 500px;
	border-radius: 10px;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	background-color: rgba(0,0,0,0.7);

	-webkit-box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);

	-webkit-transition: opacity 1s ease;
	-moz-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	-o-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.badgeicon{
	width: 80px;
	height: 80px;
}
.messages-button{
	float: bottom;
}
.remove-from-friends{
	float: left;
}
.friends-search{
	position:relative;
	margin-top: 8px;
	width: 250px;
}
.has-error{
	color:red;
}
.has-success{
	color:green;
}
.body{
	width: 100%;
}