<template name = "edit_badges">
    {{>addBadgeModal}}
    {{#with currentlyEditedBadge}}
      {{>editBadgeModal}}
    {{/with}}
    <button  class="btn btn-danger add"> add badge</button>
    <table class="table-bordered">
    <tr>
      <th>Name</th>
      <th>Poits Required</th>
      <th>icon</th> 
    </tr>
    {{#each badges}}
      <tr>
        <td>{{name}}</td>
        <td>{{points}}</td>
        <td>{{icon}}</td>
        <td><button class="btn btn-danger delete-badge"> delete badge</button></td>
        <td><button class="btn btn-primary edit-badge"> edit badge</button></td>
      </tr>
    {{/each}}
    </table>
</template>

<template name="addBadgeModal">
  <div class="modal fade" id="add-badge-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Create Badge</h4>
        </div>
        <div class="modal-body">
          <table class="table table-condensed">
            <tr>
              <th>
                <label>name</label>
              </th>
              <th>
                <input name="name" class="add-badge-modal-input" >
              </th>
            </tr>
            <tr>
              <th>
                <label>points requred</label>
              </th>
              <th>
                <input name="points" class="add-badge-modal-input">
              </th>
            </tr>
            <tr>
              <th>
                <label>icon</label>
              </th>
              <th>
                <input  name="icon" class="add-badge-modal-input">
              </th>
            </tr>

          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="create-badge">Create new badge</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="editBadgeModal">
  <div class="modal fade" id="edit-badge-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Edit Badge</h4>
        </div>
        <div class="modal-body">
          <table class="table table-condensed">
            <tr>
              <th>
                <label>name</label>
              </th>
              <th>
                <input name="name" class="edit-badge-modal-input" value="{{name}}">
              </th>
            </tr>
            <tr>
              <th>
                <label>points requred</label>
              </th>
              <th>
                <input name="points" class="edit-badge-modal-input" value="{{points}}">
              </th>
            </tr>
            <tr>
              <th>
                <label>icon</label>
              </th>
              <th>
                <input  name="icon" class="edit-badge-modal-input" value="{{icon}}">
              </th>
            </tr>

          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="edit-badge"> Edit badge</button>
        </div>
      </div>
    </div>
  </div>
</template>