<template name="edit_categories">
	<h1>Edit Categories</h1>
	{{#with root_category}}
		{{> category}}
	{{/with}}
</template>

<template name="edit_categories_modal">
	<h1>Edit Categories</h1>
	{{#with root_category}}
		{{> category_in_modal}}
	{{/with}}
</template>

<template name="category">
	<ul>
		<li>
			{{name}}
			<button type="button" class="btn btn-primary add-sub">
				Add Subcategory
			</button>

			{{#if not_root}}
				<button type="button" class="btn btn-danger delete-cat">
					Delete Category
				</button>

				<button type="button" class="btn btn-danger delete-cat-and-questions">
					Delete Category &amp; Question
				</button>
				<input type="text" placeholder="new category name">
				<button  class ="btn btn-primary change-name">change</button>
				<div id="add-category-{{_id}}"></div>
			{{/if}}
		
			<a href="{{pathFor 'edit_questions'}}">Edit Questions</a>

			{{#each child_categories _id}}
				{{> category}}
			{{/each}}
		</li>
	</ul>
</template>

<template name="category_in_modal">
	<ul>
		<li>
			{{name}}
			<button type="button" class="btn btn-primary add-sub">
				Add Subcategory
			</button>

			<div id="add-category-{{_id}}"></div>
			{{#each child_categories _id}}
				{{> category_in_modal}}
			{{/each}}
		</li>
	</ul>
</template>