<template name="question_table">
  <button class="btn btn-primary add-question">Add Question</button>
  <button class="btn btn-danger bulk-delete">Delete Selected</button>
  {{#if isAdmin}}
    <button class="btn btn-success bulk-approve">Approve Selected</button>
  {{/if}}
  {{#isolate}}
    <div id="table-container">
        <table cellpadding="0" cellspacing="0" border="0" class="display" id="question-table">
        </table>
    </div>
  {{/isolate}}
    {{>editQuestionModal}}

</template>
<template name="editQuestionModal">

  <div class="{{modalClass}}" id="edit-question-modal">

    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          {{>modalbody}}
        </div>
        <div class="modal-footer">
          {{>modalfooter}}
        </div>
      </div>
    </div>
  </div>
</template>
<template name="modalbody">
    {{#if rerender}}
    {{/if}}
    {{#if question}}
      {{#with editedQuestion}}
         {{>question_edit}}
      {{/with}}
    {{else}}
      {{#if addQuestion}}
        {{>add_new_question}}
      {{else}}
        {{>edit_categories_modal}} 
      {{/if}}
    {{/if}}
</template>
<template name="modalfooter">
    {{#if rerender}}
    {{/if}}
      <button type="button" class="btn btn-default close" >Close</button>
    {{#if addQuestion}}
      {{#if isAdmin}}
        <button class="btn btn-primary create-category">add category</button>
      {{/if}}
    {{/if}}   
    {{#if category}}
    <button type="button" class="btn btn-primary back">Back to question</button>
    {{/if}}

</template>