<template name = "friends"> 
 	{{#constant}}
		<div id="fb-root"></div>
	{{/constant}}
	{{>invite_email_modal}}
	{{>invite_facebook_modal}}
	<div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li><a class="invite" name="facebook" href="#">Invite from facebook</a></li>
				<li><a class="invite" name="email" href="#">Invite by email</a></li>
			</ul>
        </div><!--/.nav-collapse -->
  	</div>
  <div class="btn-group">
    <button type="button" name="all" class="btn btn-primary sort-friends">All</button>
    <button type="button" name="online" class="btn btn-success sort-friends">Online</button>
    <button type="button" name="busy" class="btn btn-warning sort-friends">Busy</button>
    <button type="button" name="offline" class="btn btn-danger sort-friends">Offline</button>
  </div>
	<table class="table table-bordered">
        <thead>
        <tr>
        	<th>
				    <label>username</label>
        	</th>
        	<th>
				    <label>state</label>
        	</th>
        </tr>
        </thead>
        <tbody>
        {{#each friends}}
        <tr>
        	<th>
				    <label>{{username}}</label>
        	</th>
        	<th>
				    <label>{{state}}</label>
        	</th>
        	<th>
            {{#if $eq state "online"}}
				    <button class="btn btn-primary game-invite">invite</button>
            {{/if}}
        	</th>
        </tr>
        {{/each}}
        </tbody>
  	</table>
</template>

<template name="invite_email_modal">
  <div class="modal fade" id="invite_email_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Invite Friends</h4>
        </div>
        <div class="modal-body">
          <table class="table table-condensed">
            <tr>
              <th>
                <label>Please Type your friend email</label>
              </th>
              <th>
                <input name="email" id="email-input" >
              </th>
            </tr>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="send-invitation">Send Invitation</button>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="invite_facebook_modal">
  <div class="modal fade" id="invite_facebook_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Invite Friends</h4>
        </div>
        <div class="modal-body">
        	{{>facebook_friends}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
<template name="facebook_friends">
	<table class="span12 table table-striped">
	  <thead>
	    <tr>
	      <th style="width: 50%"></th>
	      <th style="width: 50%"></th>
	    </tr>
	  </thead>
	  <tbody>
	  	{{#each facebookFriends}}
	    <tr>
	      <td>{{name}}</th>
	      <td><button class="btn btn-primary invite-button">invite</button></th>
	    </tr>
	    {{/each}}
	  </tbody>
	</table>
</template>