<template name="layout">

   

	<div class="container">
		{{#if displayNavbar}}
			{{> navbar}}
		{{/if}}
		{{yield}}
    
	</div>
</template>

<template name="404">
	<h2>404</h2>
</template>

<template name="loading">
	<h2>Loading...</h2>
</template>

<template name="emailVerificationInfo">
  {{#if visible}}
  <div class="modalActive" id="emailVerification_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button id="closeEmailVerificationInfo" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <h4>We send you verification email, please check your email box</h4>
        </div>
      </div>
    </div>
  </div>
  {{else}}
  <div class="modalHidden" id="emailVerification_modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button id="closeEmailVerificationInfo" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <h4>We send you verification email, please check your email box</h4>
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</template>