<template name="missing_data">

  <div class="modalActive" id="username-modal">
    <div class="modal-dialog" style="width:350px">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Please complete your data</h4>
        </div>
        <div class="modal-body">
          <form id="missingDataForm">
              <div id="data-alert-box" class="alert alert-danger hidden">{{error}}</div>
              {{#if usernameMissing}}
                <input class="form-control" name="username" placeholder="username">
              {{/if}}
              {{#if emailMissing}}
                <input class="form-control" name="email" placeholder="email" >
              {{/if}}
          <form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" >Confirm</button>
        </div>
      </div>
    </div>
  </div>
</template>