<template name="missing_data">

  <div class="modalActive" id="username-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Please choose your username</h4>
        </div>
        <div class="modal-body">
          <table class="table table-condensed">
            <tr>
              {{#if usernameMissing}}
              <th>
                <label>username</label>
              </th>
              <th>
                <input name="name">
                <div id="username-errors" style="color:#a94442;">
              </th>
              {{/if}}
              {{#if emailMissing}}
              <th>
                <label>email</label>
              </th>
              <th>
                <input name="email" >
                <div id="email-errors" style="color:#a94442;">
              </th>
              {{/if}}
            </tr>
          </table>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" >Confirm</button>
        </div>
      </div>
    </div>
  </div>
</template>